aiofiles
altgraph
anyio
attrs
auto-py-to-exe
bottle
bottle-websocket
cffi
chardet
colorama
commonmark
Eel
future
gevent
gevent-websocket
greenlet
h11
httpcore
httpx
idna
loguru
lxml
oppadc @ git+https://github.com/The-CJ/oppadc.py.git
pefile
pycparser
pydantic
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pypiwin32
pywin32
pywin32-ctypes
requests
retrying
rfc3986
rich
six
sniffio
typing_extensions
urllib3
whichcraft
win32-setctime
wincertstore
zope.event
zope.interface
